/*  variables  */

/*  colors  */
$background-main-color: #585858;
$button-type1-color: #76dc6d;
$button-border-color: #cbcbcb;
$button-type2-color: #6ddcd8;
$shadow-color: #f1fc93;
$input-light-color: #cbcbcb;
$input-dark-color: #707070;
