.winners-table-header,
.winners-row {
  width: 450px;
  position: relative;
  margin: 0;
  display: inline-flex;
  //justify-content: space-between;
  font-size: 1.4rem;
  list-style-type: none;
  column-gap: 5px;
  padding: 3px 0;
}
.winners {
  min-height: 350px;
}
.model {
  width: 160px;
}
.wins,
.number {
  width: 50px;
  &:hover {
    cursor: pointer;
  }
}
.car {
  box-sizing: border-box;
}
.car-image_small,
.car {
  box-sizing: content-box;
  width: 32px;
}
.best-time {
  width: 85px;
  &:hover {
    cursor: pointer;
  }
}
.winners-table-header {
  background-color: $button-type2-color;
}
.winners-row {
  background-color: $input-light-color;
}
.winners-table-col,
.winners-item {
  padding: 0 5px;
  text-align: center;
}

.winners-table {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  padding: 8px 0;
}
