.about__wrapper {
   padding: 80px 0 100px;
   max-width: 850px;
   @include media-laptop {
      padding: 80px 30px 100px;
   }
   @include media-tablet {
      max-width: 437px;
   }
}

.about__content {
   order: 2;
   max-width: 430px;
   @include media-laptop {
      padding: 0 0 55px 10px;
   }
   @include media-tablet {
      padding: 0 0 55px 0;
      order: 1;
   }
}
.about__title {
   max-width: 370px;
   @extend %h3;
   color: $color-dark-l;
   margin: 15px 0 23px 0;
   @include media-tablet {
      margin: 0 0 24px 0;
   }
}

.about__subheading {
   @extend %paragraph-l;
   color: $color-dark-xl;
   margin: 0 0 25px 0;
}

.about__image {
   order: 1;
   max-width: 300px;
   height: 408px;
   @include media-tablet {
      order: 2;
   }
}
