.footer {
   background-image: url("../img/footer/footer-background.webp"), $background-footer;
   background-repeat: no-repeat;
   background-size: cover;
}

.footer__wrapper {
   padding: 40px 0 0 0;
}

.footer-colum {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: 16px 0 60px 0;
}
.footer__contacts {
   max-width: 294px;
}

.footer__locations {
   max-width: 315px;
}

.footer-title {
   margin: 0;
   @extend %h3;
   color: $color-light-xl;
}

.footer {
   a {
      display: flex;
      align-items: center;
      text-decoration: none;
      @extend %h4;
      color: $color-primary;
      @extend %transition;
   }
}
.footer-link-row:hover > * {
   color: $color-light-l;
}
.email-icon {
   width: 40px;
   height: 32px;
   background-image: url("../img/icons/footer/icon-email.svg");
   margin: 0 20px 0 0;
}

.phone-icon {
   width: 40px;
   height: 32px;
   background-image: url("../img/icons/footer/icon-phone.svg");
   margin: 0 20px 0 0;
}

.location-item {
   width: 42px;
   height: 32px;
   background-image: url("../img/icons/footer/icon-marker.svg");
   background-repeat: no-repeat;
   background-position: left;
}
.boston .location-item {
   width: 75px;
}
