.footer {
   background-image: url("../img/footer/footer-gradient-background.png"), $background-footer;
   background-repeat: no-repeat;
   background-size: cover;
}

.footer__wrapper {
   padding: 40px 0 0 0;
   @media screen and (max-width: 1270px) {
      padding: 30px 30px 0;
      flex-wrap: wrap;
      justify-content: space-around;
   }
   @include media-tablet {
      padding: 30px 30px 0;
   }
   @media screen and (max-width: 685px) {
      padding: 30px 10px 0;
      box-sizing: border-box;
   }
}

.footer-colum {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: 16px 0 60px 0;
   @include media-laptop {
      height: 234px;
   }
   @include media-tablet {
      padding: 0;
      margin: 0 0 65px 0;
   }

   @media screen and (max-width: 685px) {
      height: 208px;
      margin: 0 0 40px;
   }
}
.footer__contacts {
   max-width: 294px;

   @include media-tablet {
      margin: 0 0 0 14px;
   }
   @media screen and (max-width: 685px) {
      margin: 0 0 40px 0;
   }
   @include media-mobile {
      align-items: center;
   }
   /*@include media-mobile {
      margin: 0 0 40px 0;
      align-items: center;
   }*/
}

.footer__locations {
   max-width: 315px;
   @media screen and (max-width: 685px) {
      height: 222px;
      align-items: flex-start;
   }
}

.footer-title {
   margin: 0;
   @extend %h3;
   color: $color-light-xl;
   @media screen and (max-width: 685px) {
      @include font($size: 2.5rem, $height: 130%);
      text-align: center;
      max-width: 80%;
      align-self: center;
   }
}

.footer {
   a {
      display: flex;
      align-items: center;
      text-decoration: none;
      @extend %h4;
      color: $color-primary;
      @extend %transition;
   }
}
.footer-link-row:hover > * {
   color: $color-light-l;
}
.email-icon {
   width: 40px;
   height: 32px;
   background-image: url("../img/icons/footer/icon-email.svg");
   margin: 0 20px 0 0;
}

.phone-icon {
   width: 40px;
   height: 32px;
   background-image: url("../img/icons/footer/icon-phone.svg");
   margin: 0 20px 0 0;
}

.location-item {
   width: 42px;
   height: 32px;
   background-image: url("../img/icons/footer/icon-marker.svg");
   background-repeat: no-repeat;
   background-position: left;
}
.boston .location-item {
   width: 75px;
}

.footer__image {
   @include media-mobile {
      max-width: 260px;
   }
}
