.in-addition {
   background-color: $color-light-l;
}

.in-addition__wrapper {
   padding: 80px 0 83px 0;
}

.in-addition__content {
   display: flex;
   flex-direction: column;
   > * {
      margin: 0 0 19px 0;
      @include media-laptop {
         margin: 0 0 20px 0;
      }
   }
   order: 2;
   max-width: 380px;
   padding: 0 0 0 30px;
   @include media-laptop {
      padding: 0;
   }
}

.in-addition__heading {
   @extend %h3;
   color: $color-dark-l;
   max-width: 300px;
}

.in-addition__subheading {
   @extend %h5;
   color: $color-dark-l;
}

.in-addition-card-row {
   display: flex;
   justify-content: space-between;
   padding: 10px 15px;
   width: 349px;
   box-sizing: border-box;
   background-color: $color-primary;
   border-radius: 9px;
   text-decoration: none;
   @extend %transition;
   &:hover {
      background-color: $color-primary-light;
   }
}

.card-icon {
   width: 30px;
   height: 23px;
   background-image: url("../img/icons/in-addition/credit-card.svg");
}

.card-number {
   @extend %h4;
   color: $color-dark-l;
}

.in-addition__legal-information {
   @extend %paragraph-s;
   color: $color-dark-m;
}

.in-addition__image {
   margin: 0 0 16px 0;
   order: 1;
   @media screen and (max-width: 918px) {
      margin: 40px 0 100px 0;
   }
}
