.in-addition {
   background-color: $color-light-l;
}

.in-addition__wrapper {
   padding: 80px 0;
   @include media-tablet {
      padding: 80px 0 84px 0;
   }
   @include media-mobile {
      padding: 40px 10px 23px;
   }
}

.in-addition__content {
   display: flex;
   flex-direction: column;
   > * {
      margin: 0 0 20px 0;
   }
   order: 2;
   max-width: 380px;
   padding: 0 0 0 30px;
   @include media-laptop {
      padding: 0;
   }
   @include media-mobile {
      max-width: 100%;
      align-items: center;
   }
}

.in-addition__heading {
   @extend %h3;
   color: $color-dark-l;
   max-width: 300px;
   @include media-mobile {
      @include font($size: 2.5rem, $height: 130%);
      max-width: 100%;
      text-align: center;
      margin: 0 0 25px 0;
   }
}

.in-addition__subheading {
   @extend %h5;
   color: $color-dark-l;
   @include media-mobile {
      margin: 0 0 25px 0;
      letter-spacing: 0;
   }
}

.in-addition-card-row {
   display: flex;
   justify-content: space-between;
   padding: 10px 15px;
   width: 349px;
   box-sizing: border-box;
   background-color: $color-primary;
   border-radius: 9px;
   text-decoration: none;
   @extend %transition;
   &:hover {
      background-color: $color-primary-light;
   }
   @include media-mobile {
      width: 281px;
   }
}

.card-icon {
   width: 30px;
   height: 23px;
   background-image: url("../img/icons/in-addition/credit-card.svg");
}

.card-number {
   @extend %h4;
   color: $color-dark-l;
   @include media-mobile {
      @include font($size: 1.5rem, $height: 110%);
   }
}

.in-addition__legal-information {
   @extend %paragraph-s;
   color: $color-dark-m;

   @include media-mobile {
      padding: 0 10px;
      max-width: 100%;
      text-align: justify;
   }
}

.in-addition__image {
   margin: 0 0 16px 0;
   order: 1;
   @media screen and (max-width: 918px) {
      margin: 40px 0 17px 0;
   }
   @media screen and (max-width: 755px) {
      max-width: 90%;
   }
   @include media-mobile {
      max-width: 260px;
      margin: 23px 0 17px 0;
   }
}
