.navigation {
   display: flex;
}

.navigation__link:not(.navigation__link_active) {
   list-style: none;
   cursor: pointer;
   @extend %transition;
   margin-left: 35.8px;
   border-bottom: solid 3px transparent;
   a {
      text-decoration: none;
      @extend %paragraph-l;
      color: $color-dark-s;
   }

   &:hover a {
      color: $color-light-s;
   }
   &:active {
      border-bottom: solid 3px $color-primary;
   }
   &:active a {
      color: $color-light-s;
   }
}

.navigation__link_active {
   list-style: none;
   border-bottom: solid 3px $color-primary;
   a {
      @extend %paragraph-l;
      text-decoration: none;
      cursor: default;
      color: $color-light-s;
   }
}
