.start-screen {
   padding: 30px 0 0;
}

.start-screen_dark {
   background-image: url("../img/not-only/start-screen-background.png"), $background-dark;
   background-repeat: no-repeat;
   background-size: cover;
}

.strat-screen_light {
   background-color: $color-light-xl;
}

.not-only__wrapper {
   padding: 90px 40px 0;
}

.not-only__content {
   padding: 164px 0 0;
}
.not-only__title {
   @extend %h2;
   color: $color-light-xl;
   max-width: 310px;
   margin: 0;
}

.not-only__subheading {
   @extend %paragraph-l;
   color: $color-dark-s;
   max-width: 460px;
   margin: 41px 0;
}
.not-only__image {
   max-width: 698px;
   height: 728px;
}
