.pets {
   background-color: $color-light-l;
}

.pets__wrapper {
   padding: 80px 40px 4px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.pets__title {
   @extend %h3;
   color: $color-dark-l;
   max-width: 400px;
   text-align: center;
   margin: 0 0 60px;
}
.pets__slider {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
}

.slider-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   max-width: 990px;
   width: 100%;
}

.slider-card {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 270px;
   background: $color-light-s;
   border-radius: 9px;
   padding: 0 0 30px 0;
   cursor: pointer;
   @extend %transition;
   &:hover {
      background: $color-light-xl;
      box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
      .slider-card__button {
         background-color: $color-primary-light;
         border: 2px solid transparent;
      }
   }
}

.slider-card__image {
   width: 100%;
   height: 270px;
   background-size: contain;
   background-repeat: no-repeat;
   border-radius: 9px 9px 0px 0px;
   &.katrine {
      background-image: url(../img/pets/katrine.webp);
   }
   &.jennifer {
      background-image: url(../img/pets/jennifer.webp);
   }
   &.woody {
      background-image: url(../img/pets/woody.webp);
   }
}

.slider-card__text {
   @extend %pets-card-title;
   text-align: center;
   color: $color-dark-l;
   margin: 30px 0 32px;
}
