/* Colors */
$main-color1: #177cc4;
$main-color1-dark: #7bbce3;
$main-color1-dark-strong: #1c84bc;
$main-color1-light: #87c7ca;
$main-color1-light-strong: #d3e8e5;

$main-color2: #b7f264;
$main-color2-dark: #87c7ca;
$main-color2-dark-strong: #203d06;
$main-color2-light: #16a80e;
$main-color2-light-strong: #f77969;

/* Fonts */

$mainFont: "Montserrat", sans-serif;
