.button {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 207px;
   height: 52px;
   padding: 15px 44px;
   border-radius: 100px;
   box-sizing: border-box;
   @extend %button-text;
   color: $color-dark-3xl;
   border: none;
   @extend %transition;
}

.button_primary {
   background-color: $color-primary;
   &:hover {
      background-color: $color-primary-light;
   }
}

.button_secondary {
   border: 2px solid $color-primary;
   background-color: transparent;
   &:hover {
      background-color: $color-primary-light;
      border: 2px solid transparent;
   }
}

.slider-btn {
   display: flex;
   align-items: center;
   justify-content: center;
   box-sizing: border-box;
   width: 52px;
   height: 52px;
   border: 2px solid $color-primary;
   border-radius: 100px;
   background-repeat: no-repeat;
   background-position: center;
   @extend %transition;
   cursor: pointer;
   @extend %h4;
   color: $color-dark-3xl;
   &_left {
      background-image: url("../img/icons/slider-arrow.svg");
   }
   &_right {
      background-image: url("../img/icons/slider-arrow.svg");
      transform: rotate(180deg);
   }

   &_paginator-active {
      background-color: $color-primary;
   }
   &_paginator-inactive {
      border: solid 2px $color-dark-s;
      color: $color-dark-s;
      pointer-events: none;
   }
   &:hover {
      border: solid 2px transparent;
      background-color: $color-primary-light;
   }

   &_inactive {
      border: solid 2px $color-dark-s;
      color: $color-dark-s;
      pointer-events: none;
   }
}
/*.pagination-row .slider-btn {
   &:active {
      border: solid 2px $color-primary;
      background-color: $color-primary;
   }
}*/

.slider-card__button {
   width: 187px;
}

.pets__button_primary {
   margin: 60px 0 0;
   width: 261px;
}
.pets__button_primary {
   width: 261px;
   margin: 56px 0 100px 0;
}
