.logo {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   max-width: 185.7px;
   cursor: pointer;
   > * {
      @extend %transition;
   }
}

.logo-title {
   cursor: pointer;
   text-decoration: none;
   @extend %logo_title;
   color: $color-primary;
   margin-bottom: 10px;
}
.logo-subtitle {
   text-align: center;
   width: 100%;
   @extend %logo_subtitle;
   color: $color-light-xl;
}

.header_light {
   .logo-title {
      color: $color-dark-l;
   }
   .logo-subtitle {
      color: $color-dark-3xl;
   }
}

.header__logo-pets:hover {
   .logo-title {
      color: $color-primary;
   }
   .logo-subtitle {
      color: $color-dark-3xl;
   }
}
