.wrapper_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
}
.main-title {
  font-size: 4em;
  margin: 0;
  text-align: center;
}

.levels,
.custom-settings,
.first-row {
  display: flex;
  margin: 0;
  column-gap: 20px;
}
.custom-settings.hidden {
  display: none;
}

.level,
.results {
  list-style-type: none;
  color: $dark-text-color;
  font-size: 1.6em;
  &_active {
    font-weight: bold;
  }
  &:hover {
    cursor: pointer;
    color: $light-text-color;
    text-decoration: underline;
  }
}

.results-table {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  border-top: solid 1px $dark-text-color;
  border-left: solid 1px $dark-text-color;
  border-right: solid 1px $dark-text-color;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.result-steps {
  padding: 2px;
  text-align: center;
  font-size: 1.6em;
  box-sizing: border-box;
  width: 30%;
  border-right: solid 1px $dark-text-color;
  border-bottom: solid 1px $dark-text-color;
  &_header {
    font-weight: 600;
  }
}
.result-time {
  padding: 2px;
  text-align: center;
  font-size: 1.6em;
  box-sizing: border-box;
  width: 70%;
  border-bottom: solid 1px $dark-text-color;
  &_header {
    font-weight: 600;
  }
}

.custom-settings {
  margin: 0;
  align-items: center;
}
.settings-item {
  list-style-type: none;
  color: $dark-text-color;
  font-size: 1.6em;
  font-weight: 600;
}

.update-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 25px;
  font-weight: 400;
  letter-spacing: 0.01em;
  border: solid 1px $dark-text-color;
  &:hover {
    cursor: pointer;
    color: $light-text-color;
  }
}
