.pop-up-wrapper {
  transition: all 0.4s;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(155, 152, 156, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  &_hidden {
    display: none;
  }
  &_dark {
    background: rgba(155, 152, 156, 0.3);
  }
}
.message-container {
  transition: all 0.4s;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 30px;
  width: 500px;
  background-color: $background;
  box-shadow: 5px 5px 5px $border-color;
  &_dark {
    background-color: $dark-text-color;
  }
}

.message-title {
  text-align: center;
  font-weight: 800;
  color: rgb(135, 9, 9);
  text-shadow: 5px 5px 5px $border-color;
  &_dark {
    color: rgb(236, 253, 1);
  }
}

.message-text {
  text-align: center;
  font-size: 1.5em;
  &_dark {
    color: $background;
  }
}

.close-btn {
  width: 80px;
  height: 30px;
  font-size: 1.6em;
  border-radius: 20px;
  background-color: $border-color;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
    color: rgb(135, 9, 9);
  }
  &_dark {
    background-color: $background;
  }
}
