%transition {
   transition: all 0.3s linear;
}

%font-prim {
   font-family: "Georgia", sans-serif;
   font-style: normal;
   font-weight: 400;
}

%font-add-regular {
   font-family: "Arial", sans-serif;
   font-style: normal;
   font-weight: 400;
}

%font-add-italic {
   font-family: "Arial Italic", sans-serif;
   font-style: italic;
   font-weight: 400;
}
