// Left side
.left-side {
  width: calc(100% - 375px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.level-title {
  text-align: center;
}

.help {
  text-align: center;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

// visual

.visualization {
  width: 70%;
  display: flex;
  align-items: flex-end;
  position: relative;
  background-image: url("../../assets/img/background/sky.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 1;
  height: 200px;
  border-radius: 20px;
}
.visual-items {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  //column-gap: 30px;
  z-index: 2;
}
.grass {
  width: 100%;
  height: 60%;
  z-index: 3;
}

.grass__image {
  width: 100%;
  height: 100%;
  background-image: url("../../assets/img/background/grass.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.code-area {
  grid-area: code-area;
}

.visual-set {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100px;
  height: 200px;
}
.fly {
  //position: absolute;
  //left: 130px;
  //bottom: 90px;
  background-image: url("../../assets/img/blue-but.gif");
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 2s ease-out;
  display: block;
  width: 100px;
  height: 100px;
  z-index: 3;
}

.fly_away {
  transform: translate3d(500px, -250px, -70px);
}

.rose {
  //position: relative;
  //left: 130px;
  //bottom: 0;
  background-image: url("../../assets/img/flowers/rose.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 74px;
  height: 144px;
  margin-top: -40px;
  //z-index: 2;
}

// editor

.editor {
  width: 100%;
  display: flex;
  column-gap: 15px;
  box-sizing: border-box;
  padding: 20px;
}

.css-editor,
.html-viver {
  width: 48%;
}

.css-editor__main {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
}

.editor__header {
  display: flex;
  justify-content: space-between;
  font-size: 2em;
}

.main-lines {
  font-size: 1.7em;
  width: 30px;
}

.input-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 40px);
}

.css-editor__input {
  display: block;
  width: 80%;
  height: 1em;
  margin-right: 10px;
}
.css-editor__button {
  height: 1.7em;
}
.css-editor__rules {
  font-size: 1.7em;
  width: calc(100% - 60px);
}
