.header__wrapper {
   margin: auto;
   padding: 0 40px;
   max-width: 1200px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.header_light .header__wrapper {
   padding: 0 40px 30px;
}
