.header__wrapper {
   margin: auto;
   padding: 0 40px;
   max-width: 1200px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   @include media-laptop {
      max-width: $content-width;
      padding: 0 30px;
   }
}

.header_light .header__wrapper {
   padding: 0 40px 30px;
   @include media-laptop {
      padding: 0 30px 30px;
   }
}
