.not-only__wrapper {
   margin: auto;
   max-width: 1200px;
   display: flex;
   justify-content: space-between;
   @include media-tablet {
      max-width: $tablet-width;
      flex-direction: column;
      align-items: center;
   }
}
